[Unit]
Description=Minecraft Server
After=network.target

[Service]
User=zach
WorkingDirectory=/home/zach/mc-server
ExecStart=/usr/lib/jvm/java-25-openjdk/bin/java -Xmx4G -Xms2G -jar server.jar nogui
Restart=on-failure
StandardInput=null

[Install]
WantedBy=multi-user.target
